.risk-manager {
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 120px);
  margin: 0;
  padding: 0;
  display: flex;
}
.risk-manager__content {
  flex: 1;
  display: flex;
  overflow: hidden;
}
.risk-manager__iframe {
  border: none;
  flex: 1;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 120px);
}
